<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="se.rapidsolutions.interfacebridge"
      version="1.0.0">

    <name>InterfaceBridge</name>
    <description>Control native ui elements with javascript</description>
    <license>MIT</license>
    <keywords>cordova,interfaceBridge</keywords>

    <js-module src="www/interfaceBridge.js" name="interfaceBridge">
            <clobbers target="interfaceBridge" />
        </js-module>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
    		<feature name="interfaceBridge">
    			<param name="ios-package" value="InterfaceBridgePlugin"/>
    		</feature>
        </config-file>

    	<header-file src="src/ios/InterfaceBridgePlugin.h" />
    	<source-file src="src/ios/InterfaceBridgePlugin.m" />
        <header-file src="src/ios/InterfaceBridge.h" />
        <source-file src="src/ios/InterfaceBridge.m" />

    </platform>


    <!-- android -->
    <platform name="android">
         <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Battery" >
                <param name="android-package" value="org.apache.cordova.batterystatus.BatteryListener"/>
            </feature>
        </config-file>

        <source-file src="src/android/InterfaceBridgePlugin.java" target-dir="src/se/rapidsolutions" />
    </platform> 


</plugin>
