<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="se.rapidsolutions.interfacebridge"
      version="0.1">

    <name>InterfaceBridge</name>
    <description>Control native ui elements with javascript</description>
    <license></license>
    <keywords>cordova,interfaceBridge</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
		<feature name="interfaceBridge">
			<param name="ios-package" value="InterfaceBridgePlugin"/>
		</feature>
        </config-file>

        <js-module src="www/interfaceBridge.js" name="interfaceBridge">
            <clobbers target="interfaceBridge" />
        </js-module>

	<header-file src="src/ios/InterfaceBridgePlugin.h" />
	<source-file src="src/ios/InterfaceBridgePlugin.m" />
    <header-file src="src/ios/InterfaceBridge.h" />
    <source-file src="src/ios/InterfaceBridge.m" />

    </platform>

    <!-- android
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Console">
                <param name="wp-package" value="DebugConsole"/>
            </feature>
        </config-file>

        <js-module src="www/console-via-logger.js" name="console">
            <clobbers target="console" />
        </js-module>

        <js-module src="www/logger.js" name="logger">
            <clobbers target="cordova.logger" />
        </js-module>

        <source-file src="src/wp/DebugConsole.cs" />
    </platform> -->


</plugin>
